img {
    width: 100%;
    max-width: 100%;
  }
  @media (min-width: 1200px) and (max-width: 1600px) {
    img {
      width: 70%;
      filter: brightness(1.2);
    }
  }
  @media (min-width: 800px) and (max-width: 1200px) {
    img {
      filter: contrast(1.5);
    }
  }
  @media (max-width: 799px) {
    img {
      filter: saturate(2);
    }
  }
